/* @font-face {
    font-family: "BentonSansBlack";
    src: url(../fonts/BentonSansBlack.otf);
}
@font-face {
    font-family: "BentonSansBold";
    src: url(../fonts/BentonSansBold.otf);
}
@font-face {
    font-family: "BentonSansBook";
    src: url(../fonts/BentonSansBook.otf);
}
@font-face {
    font-family: "BentonSansMedium";
    src: url(../fonts/BentonSansMedium.otf);
}
@font-face {
    font-family: "BentonSansRegular";
    src: url(../fonts/BentonSansRegular.otf); */

@font-face {font-family: "HFNVGC+BentonSans-Bold"; src: url("//db.onlinewebfonts.com/t/231961903ac6d07296bfec1639d22d90.eot"); src: url("//db.onlinewebfonts.com/t/231961903ac6d07296bfec1639d22d90.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/231961903ac6d07296bfec1639d22d90.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/231961903ac6d07296bfec1639d22d90.woff") format("woff"), url("//db.onlinewebfonts.com/t/231961903ac6d07296bfec1639d22d90.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/231961903ac6d07296bfec1639d22d90.svg#HFNVGC+BentonSans-Bold") format("svg"); }
@font-face {font-family: "BentonSansMedium"; src: url("//db.onlinewebfonts.com/t/2411d82d932b80d2e4a7f7131145ed76.eot"); src: url("//db.onlinewebfonts.com/t/2411d82d932b80d2e4a7f7131145ed76.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/2411d82d932b80d2e4a7f7131145ed76.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/2411d82d932b80d2e4a7f7131145ed76.woff") format("woff"), url("//db.onlinewebfonts.com/t/2411d82d932b80d2e4a7f7131145ed76.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/2411d82d932b80d2e4a7f7131145ed76.svg#BentonSansMedium") format("svg"); }
@font-face {font-family: "BentonSans-Regular"; src: url("//db.onlinewebfonts.com/t/3b83b6d7c11cf8f70ca43eedcf6ccc9f.eot"); src: url("//db.onlinewebfonts.com/t/3b83b6d7c11cf8f70ca43eedcf6ccc9f.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/3b83b6d7c11cf8f70ca43eedcf6ccc9f.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/3b83b6d7c11cf8f70ca43eedcf6ccc9f.woff") format("woff"), url("//db.onlinewebfonts.com/t/3b83b6d7c11cf8f70ca43eedcf6ccc9f.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/3b83b6d7c11cf8f70ca43eedcf6ccc9f.svg#BentonSans-Regular") format("svg"); }
.formcontato{
    background: #fff;
    box-shadow: 0 0 11px #e5e5e5;
    border-radius: 5px;
    padding: 19px;
    position: relative;
    top: 53px;
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    padding: 80px 100px 80px;
    border-radius: 10px;
    background-image: url(https://templates.hibootstrap.com/medsev/default/assets/img/home-two/5.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.tituloform {
    color: #ff7965;
    margin-top: -32px;
    font-weight: 500;
    font-size: 30px;
    line-height: 0px;

}
.formcontato form{
    
    margin-top: 37px;

}
.copy p{
    color: #a6555b;
    font-weight: 400;
    font-size: 13px;
    margin-top: 10px;
    text-align: left;
}
.copy{
    border-top: 1px solid #ccc;
    padding-top: 10px;
    padding-bottom: 20px;
    border-style: solid;
    border-width: 3px 0 0;
    border-color: #a6555b;
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    margin-top: 5px;
    /* padding: 0; */
}
.icon{
    position: absolute;
}
.formcontato svg{
    position: absolute;
    color:#fff;
    font-size: 30px;
}
.titulo-banner{
    padding-top: 89px;
    font-family: "HFNVGC+BentonSans-Bold";
    font-weight: 800;
    font-size: 40px;
}
.sub-banner{
    font-family: "BentonSans Regular";
    margin-top: -27px;
    margin-bottom: 12px;
}
.ul-banner{
    list-style: none;
}
.btn-agendar{
    margin-top: 50px;
    background-color: #a6555b;
    border: 0px;
    border-radius: 50px;
    padding: 10px 20px 10px 20px;
    color: white;
    box-shadow: 1px 7px 6px #e9e9e9;
}
.img-banner{
    margin-top: 89px;
    border-radius: 111px 0px 118px 63px;
    box-shadow: rgb(218, 218, 218) 0px 0px 9px;
    width: 100%;
    position: relative;
    left: 164px;
}
.titulo-tratamento-home h2{
    font-family: "BentonSansBold";
}
.sub-titulo{
    font-size: 22px;
    line-height: 10px;
    color: #302f2f;
    font-weight: 500;
}
.redesmenu{
    width: 100%;
    text-align: right;
    list-style: none;
}
.redesmenu li {
    display: inline-block;
}
.redesmenu svg {
    color:#a6555b;
    margin-left: 10px;
    font-size: 20px;
}
.navbar-nav {
    width: 100%;
    padding: 1.5rem 1rem;
}
.navbar-light .navbar-nav .nav-link {
    /* color: rgba(0,0,0,.5); */
    font-weight: normal;
    font-size: 16px;
    color: #777 !important;
    text-decoration: none;
    /* letter-spacing: -0.01; */
    /* line-height: 1.3em; */
    /* height: 40px; */
}
.banner{
    /* height: 800px; */
}
.banner .owl-nav {
    display: none;
}
.card-sobre-home{
    background-color: #fff;
    height: 113%;
    position: relative;
    left: 43px;
    top: -64px;
    border-radius: 5px;
    box-shadow: 0 0 8px #dadada;
    border-left: solid 3px #ff7965;
    padding: 29px;
    width: 593px;
}
.card-sobre-home p{
    font-size: 14px;
    line-height: 18px;
    text-align: justify;
    font-weight: 300;
    width: 89%;
    margin-bottom: 10px;
    font-family: "BentonSans-Regular";
}

.img-doutora-home {
    /* width: 70%; */
    box-shadow: 0 0 9px #dadada;
    border-radius: 5px;
    border-bottom: solid 4px #ff7965;
}

.img-doutora {
    text-align: center;
}
.sobrehome{
    margin-top: 100px;
    padding-bottom: 100px;
}
/* .img-doutora
{
  transition: 0.5s;
} */
.img-doutora img
{
  transition: 0.5s;
}
.img-doutora:hover img:nth-child(1)
{
  transform: translate(40px,-40px);		
  /* opacity: .4; */
}

.centered {
    position: absolute;
    left: 26%;
    top: 72%;
    transform: translate(-50%, -50%);
}
  
  .h-button {
    background: #ff7965;
    padding: 12px;
    width: 250px;
    text-align: center;
    color: white;
    border-radius: 50px;
    box-shadow: 0 0 10px 1px #d8d8d8;
  }
  .h-button span {
    display: inline-block;
    min-width: 0.3em;
    text-transform: uppercase;
    transition: 0.25s cubic-bezier(0.5, -1, 0.5, 2);
    opacity: 0;
    transform: translate(0, -20px);
    color:#fff;
  }
  .h-button:before {
    content: attr(data-text);
    position: absolute;
    width: 100%;
    left: 0;
    transition: 0.25s cubic-bezier(0.5, -1, 0.5, 2);
    text-transform: uppercase;
    letter-spacing: 3.5px;
    opacity: 1;
    color:#fff;
    transform: translate(0, 0px);
  }
  .h-button:hover:before, .h-button:focus:before {
    opacity: 0;
    transform: translate(0, 20px);
  }
  .h-button:hover span, .h-button:focus span {
    opacity: 1;
    transform: translate(0, 0);
  }
  .h-button:hover span:nth-child(1), .h-button:focus span:nth-child(1) {
    transition-delay: 0.025s;
  }
  .h-button:hover span:nth-child(2), .h-button:focus span:nth-child(2) {
    transition-delay: 0.05s;
  }
  .h-button:hover span:nth-child(3), .h-button:focus span:nth-child(3) {
    transition-delay: 0.075s;
  }
  .h-button:hover span:nth-child(4), .h-button:focus span:nth-child(4) {
    transition-delay: 0.1s;
  }
  .h-button:hover span:nth-child(5), .h-button:focus span:nth-child(5) {
    transition-delay: 0.125s;
  }
  .h-button:hover span:nth-child(6), .h-button:focus span:nth-child(6) {
    transition-delay: 0.15s;
  }
  .cuidado{
    font-size: 17px;
    font-weight: 500;
    color: #a6555b;
}
.card {
    background: #ff7965;
    border-radius: 4px;
    box-shadow: 0px 14px 80px rgb(218 218 218 / 50%);
    width:100%;
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    position: relative;
    margin-top: 25px;
    border:0px;
    height: 129px;
  }
  .card h2 {
    margin: auto;
    font-size: 18px;
    text-align: center;
    margin-top: 14px;
    font-weight: 500;
    color: #fbfbfb;

  }
  .card .title {
    padding: 1rem;
    text-align: right;
    color: green;
    font-weight: bold;
    font-size: 12px;
  }
  .card .desc {
    padding: 0.5rem 1rem;
    font-size: 12px;
  }
  .card .actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 0.5rem 1rem;
  }
  .card img {
    /* width: 85px;
    height: 85px; */
    margin: 0 auto;
    transform:translate(0px,0px) !important;	
    filter: contrast(0.5);	
  }
  
  .img-avatar {
    width: 80px;
    height: 80px;
    position: absolute;
    border-radius: 50%;
    border: 2px solid #ef6b58;
    background-image: linear-gradient(-60deg, #ff7965 0%, #ff7965 100%);
    top: 7px;
    left: 140px;
    background: #fcfcfc;
  }
  
  .card-text {
    /* display: grid;
    grid-template-columns: 1fr 2fr; */
    text-align: center;
    margin: auto;
  }
  
  .title-total {
    /* padding: 2.5em 1.5em 1.5em 1.5em; */
    position: relative;
    top: -6px;
    width: 100%;
    text-align: center;
    
  }
/*   
  path {
    fill: white;
  } */
  
  .img-portada {
    width: 100%;
  }
  
  /* .portada {
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-image: url("https://m.media-amazon.com/images/S/aplus-media/vc/cab6b08a-dd8f-4534-b845-e33489e91240._CR75,0,300,300_PT0_SX300__.jpg");
    background-position: bottom center;
    background-size: cover;
  } */
  
  /* button {
    border: none;
    background: none;
    font-size: 24px;
    color: #8bc34a;
    cursor: pointer;
    transition:.5s;
  }
    button:hover{
      color: #4CAF50  ;
      transform: rotate(22deg)
    } */
/* .saude-mulher{
    background: url(../images/sauudedamulher.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.prenatal{
    background: url(../images/prenatal.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.parto{
    background: url(../images/parto.png);
    background-repeat: no-repeat;
    background-size: cover;
} */
.titulo-tratamento{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0px;
    color: #bd545b;
    padding-top: 26px;
    text-align: center;
}
.sub-tratamento{
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0px;
    color: #bd545b;
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: -21px;
    margin-bottom: 44px;
}
.secaotratamento{
    padding-bottom: 100px;
}
.dt-sc-colored-icon-box{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px 0px !important;
    border: solid 3px #ff8472;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  height: 100vh;
}

.wrapper {
  /* background: linear-gradient(60deg, #420285, #08bdbd); */
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 500px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
          margin-top: 116px;
}

.carousel__item {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  padding: 0 12px;
  opacity: 0;
  -webkit-filter: drop-shadow(0 2px 2px #555);
          filter: drop-shadow(0 2px 2px #555);
  will-change: transform, opacity;
  -webkit-animation: carousel-animate-vertical 27s linear infinite;
          animation: carousel-animate-vertical 27s linear infinite;
}

.carousel__item:nth-child(1) {
  -webkit-animation-delay: calc(3s * -1);
          animation-delay: calc(3s * -1);
}

.carousel__item:nth-child(2) {
  -webkit-animation-delay: calc(3s * 0);
          animation-delay: calc(3s * 0);
}

.carousel__item:nth-child(3) {
  -webkit-animation-delay: calc(3s * 1);
          animation-delay: calc(3s * 1);
}

.carousel__item:nth-child(4) {
  -webkit-animation-delay: calc(3s * 2);
          animation-delay: calc(3s * 2);
}

.carousel__item:nth-child(5) {
  -webkit-animation-delay: calc(3s * 3);
          animation-delay: calc(3s * 3);
}

.carousel__item:nth-child(6) {
  -webkit-animation-delay: calc(3s * 4);
          animation-delay: calc(3s * 4);
}

.carousel__item:nth-child(7) {
  -webkit-animation-delay: calc(3s * 5);
          animation-delay: calc(3s * 5);
}

.carousel__item:nth-child(8) {
  -webkit-animation-delay: calc(3s * 6);
          animation-delay: calc(3s * 6);
}

.carousel__item:last-child {
  -webkit-animation-delay: calc(-3s * 2);
          animation-delay: calc(-3s * 2);
}

.carousel__item-head {
  border-radius: 50%;
  background-color: #d7f7fc;
  width: 90px;
  height: 90px;
  padding: 14px;
  position: relative;
  margin-right: -45px;
  flex-shrink: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  font-size: 50px;
}

.carousel__item-body {
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  padding: 16px 20px 16px 70px;
}

.title {
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 10px;
}

@-webkit-keyframes carousel-animate-vertical {
  0% {
    -webkit-transform: translateY(100%) scale(0.5);
            transform: translateY(100%) scale(0.5);
    opacity: 0;
    visibility: hidden;
  }
  3%,
  11.1111111111% {
    -webkit-transform: translateY(100%) scale(0.7);
            transform: translateY(100%) scale(0.7);
    opacity: 0.4;
    visibility: visible;
  }
  14.1111111111%,
  22.2222222222% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
    opacity: 1;
    visibility: visible;
  }
  25.2222222222%,
  33.3333333333% {
    -webkit-transform: translateY(-100%) scale(0.7);
            transform: translateY(-100%) scale(0.7);
    opacity: 0.4;
    visibility: visible;
  }
  36.3333333333% {
    -webkit-transform: translateY(-100%) scale(0.5);
            transform: translateY(-100%) scale(0.5);
    opacity: 0;
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(-100%) scale(0.5);
            transform: translateY(-100%) scale(0.5);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes carousel-animate-vertical {
  0% {
    -webkit-transform: translateY(100%) scale(0.5);
            transform: translateY(100%) scale(0.5);
    opacity: 0;
    visibility: hidden;
  }
  3%,
  11.1111111111% {
    -webkit-transform: translateY(100%) scale(0.7);
            transform: translateY(100%) scale(0.7);
    opacity: 0.4;
    visibility: visible;
  }
  14.1111111111%,
  22.2222222222% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
    opacity: 1;
    visibility: visible;
  }
  25.2222222222%,
  33.3333333333% {
    -webkit-transform: translateY(-100%) scale(0.7);
            transform: translateY(-100%) scale(0.7);
    opacity: 0.4;
    visibility: visible;
  }
  36.3333333333% {
    -webkit-transform: translateY(-100%) scale(0.5);
            transform: translateY(-100%) scale(0.5);
    opacity: 0;
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(-100%) scale(0.5);
            transform: translateY(-100%) scale(0.5);
    opacity: 0;
    visibility: hidden;
  }
}
.depoimentos{
    margin-top: 100px;
    margin-bottom: 100px;
    /* background: linear-gradient(60deg, #a6555b, #ff7965); */
}
#footer{
    width:100%;
    float:left;
    clear:both;
    margin:0;
    background: #a6555b;
}
.footer-widgets{
    /* padding:80px 0 40px; */
    width:100%;
    float:left;
    clear:both;
    margin:0;
}
.footer-widgets .widget{
    float:left;
    clear:both;
    width:100%;
    /* margin-bottom:30px */
}
#footer .container{
    z-index:9
}
.footer-copyright .alignright img{
    float:right
}
.footer-copyright{
    float:left;
    margin:0;
    /* padding:28px 0; */
    width:100%;
    clear:both;
    background: #fff;
}
.copyright-left{
    width:48%;
    float:left;
    margin:0;
    padding:0
}
.copyright-right{
    float:right;
    margin:0;
    padding:0;
    width:48%;
    text-align:right
}
.footer-copyright .menu-links{
    text-align:right;
    margin:0;
    padding:0
}
.footer-copyright .menu-links li{
    margin:0 0 0 29px;
    display:inline-block;
    padding:0;
    float:none
}
.aligncenter .menu-links{
    text-align:center
}
.aligncenter .menu-links li{
    float:none;
    display:inline-block;
    text-align:center
}
.menu-links.with-splitter li{
    margin:0
}
.footer-copyright .menu-links.with-splitter li a{
    padding:0 15px;
    border-right:1px solid
}
.footer-copyright .menu-links.with-splitter li:last-child a{
    border-right:0
}
.copyright-align-center{
    text-align:center
}
.copyright-align-center .copyright-left,.copyright-align-center .copyright-right,.copyright-align-center .dt-sc-sociable,.copyright-align-center .copyright-right{
    text-align:center;
    width:100%;
    float:left;
    clear:both;
    margin:10px 0
}
.copyright-align-center .menu-links,.copyright-align-center .dt-sc-sociable{
    text-align:center
}
.copyright-align-center .menu-links li,.copyright-align-center .dt-sc-sociable li,.copyright-align-center .dt-sc-sociable li a{
    float:none;
    display:inline-block;
    text-align:center
}
.custom-social li a span{
    margin:0 10px 0 0;
    font-size:18px;
    width:20px;
    text-align:center
}
.widget_text ul.custom-social li a{
    padding:0 0 25px
}
.widget_text ul.custom-social li:last-child a{
    padding:0
}
#footer .mailchimp-form{
    margin:40px 0 0;
    position:relative
}
#footer .mailchimp-form input[type="email"]{
    font-size:14px;
    font-weight:400;
    width:100%;
    padding:15px;
    float:left;
    border-radius:5px
}
#footer .mailchimp-form input[type="submit"]{
    cursor:pointer;
    font-size:14px;
    font-weight:400;
    position:absolute;
    right:0;
    border-radius:0 5px 5px 0;
    padding:15px;
    margin:0
}
.copyright-right .dt-sc-sociable{
    text-align:right;
    width:100%
}
.copyright-right .dt-sc-sociable li{
    float:none;
    display:inline-block;
    text-align:right
}
.widget .dt-sc-newsletter-section.boxed{
    border-top:3px solid;
    float:left;
    clear:both;
    margin:-110px 0 0;
    text-align:center;
    background:#fff
}
.dt-sc-dark-bg .widget .dt-sc-newsletter-section.boxed h2{
    font-weight:700;
    font-size:16px;
    line-height:normal;
    margin-bottom:7px;
    width:100%;
    margin-top:18px
}
.widget .dt-sc-newsletter-section.boxed .dt-sc-subscribe-frm{
    margin-top:10px;
    padding:30px
}
.widget .dt-sc-newsletter-section.boxed .dt-sc-subscribe-frm input[type="text"]{
    margin-bottom:25px
}
.widget .dt-sc-newsletter-section.boxed .dt-sc-subscribe-frm input[type="email"],.widget .dt-sc-newsletter-section.boxed .dt-sc-subscribe-frm input[type="text"]{
    border:1px solid;
    border-radius:0
}
.widget .dt-sc-newsletter-section.boxed .dt-sc-subscribe-frm input[type="submit"]{
    position:inherit;
    margin:30px 0 0;
    border-top:3px solid;
    font-size:14px;
    text-transform:uppercase;
    width:100%;
    border-radius:0;
    font-weight:400
}
.widget_text ul.dt-sc-sociable{
    text-align:center
}
.widget_text ul.dt-sc-sociable li{
    float:none;
    display:inline-block;
    text-align:center;
    clear:none;
    margin:0 10px
}
.widget_text ul.dt-sc-sociable li a{
    float:none;
    display:inline-block;
    padding-bottom:0
}
.dt_ajax_subscribe_msg .success-msg{
    color:#15d401
}
.dt_ajax_subscribe_msg .error-msg{
    color:#bd0404
}
.atuo{
    color: whitesmoke;
    margin-top: -36px;
}
h3.widgettitle {
    color: whitesmoke;
}
.dt-sc-contact-info{
    color: whitesmoke;
}
.footer-bullet-list a{
    color: whitesmoke;
}
.dt-sc-sociable  a{
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    padding: 3px;
    color:#ff7965;
}
.widget_text ul.dt-sc-sociable{
    text-align: left;
}
.dt-sc-newsletter-section {
    border-top: solid 1px #ededed;
    margin-top: 34px;
}
.dt-sc-newsletter-section h2{
    margin-top: 29px;
    color: white;
    text-align: center;
}
.dt-sc-newsletter-section{
    text-align: center;
}
.inputemail{
    border: 0px;
    border-bottom: solid 2px;
    background-color: #ffffff00;
    width: 57%;
    padding: 23px;
}
.footer-bottom{
    margin-bottom: 46px;
}
.titulo-video{
    position: absolute;
    top: 116px;
    color: white;
    font-size: 4.1em;
    font-weight: 200;
    width: 60%;
    line-height: 57px;
    font-size: 62px;
    margin-top: 110px;
}
.sub-video{
    position: absolute;
    top: 335px;
    color: white;
    font-size: 26px;
    font-weight: 100;
    width: 100%;
}
.ul-video{
    position: absolute;
    top: 371px;
    color: white;
    font-size: 23px;
    font-weight: 100;
    width: 100%;
    list-style: none;
}
.ul-video li{
    font-size: 19px;
    margin-bottom: 2px;
}
.ul-video svg{
    color:#ff8472;
    font-size: 25px;
}
.btn-agendar-video{
    position: absolute;
    top: 498px;
    color: white;
    font-size: 17px;
    font-weight: 100;
    width: 17%;
    padding: 12px;
    border: 1px solid #ff7965;
    background-color:#ff7965;
    border-radius: 38px;
    cursor: pointer;
}
.hr-video{
    background-color: #ff7965;
    position: relative;
    top: -198px;
    width: 48%;
    height: 1px;
    border: 0px;
}
.banner::before{
    /* content: "";
    position: absolute;
    height: 760px;
    width: 100%;
    background: #88423899; */
}
video{width: 100%;}
.dt-sc-colored-icon-box.pista .dt-sc-colored-content .icon-image{
   background: #fff;
   color:#fff;
}
.dt-sc-colored-icon-box.pista .dt-sc-colored-content .icon-image a:hover{
    background: #fff;
    color:#fff;
 }
 .dt-sc-colored-icon-box.pista .dt-sc-colored-content-title h3 a:hover {
    color: #ffffff;
}
.testim {
    padding-bottom: 100px;
    padding-top: 100px;
    width: 100%;
    /* position: absolute;
    top: 50%;
    -webkit-transform: translatey(-50%);
    -moz-transform: translatey(-50%);
    -ms-transform: translatey(-50%);
    -o-transform: translatey(-50%);
    transform: translatey(-50%); */
}

.testim .wrap {
position: relative;
width: 100%;
max-width: 1020px;
padding: 40px 20px;
margin: auto;
}

.testim .arrow {
display: block;
position: absolute;
color: #eee;
cursor: pointer;
font-size: 2em;
top: 50%;
-webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
-webkit-transition: all .3s ease-in-out;    
-ms-transition: all .3s ease-in-out;    
-moz-transition: all .3s ease-in-out;    
-o-transition: all .3s ease-in-out;    
transition: all .3s ease-in-out;
padding: 5px;
z-index: 22222222;
}

.testim .arrow:before {
    cursor: pointer;
}

.testim .arrow:hover {
color: #ea830e;
}


.testim .arrow.left {
left: 10px;
}

.testim .arrow.right {
right: 10px;
}

.testim .dots {
text-align: center;
position: absolute;
width: 100%;
bottom: 60px;
left: 0;
display: block;
z-index: 3333;
    height: 12px;
}

.testim .dots .dot {
list-style-type: none;
display: inline-block;
width: 12px;
height: 12px;
border-radius: 50%;
border: 1px solid #eee;
margin: 0 10px;
cursor: pointer;
-webkit-transition: all .5s ease-in-out;    
-ms-transition: all .5s ease-in-out;    
-moz-transition: all .5s ease-in-out;    
-o-transition: all .5s ease-in-out;    
transition: all .5s ease-in-out;
    position: relative;
}

.testim .dots .dot.active,
.testim .dots .dot:hover {
background: #ea830e;
border-color: #ea830e;
}

.testim .dots .dot.active {
-webkit-animation: testim-scale .5s ease-in-out forwards;   
-moz-animation: testim-scale .5s ease-in-out forwards;   
-ms-animation: testim-scale .5s ease-in-out forwards;   
-o-animation: testim-scale .5s ease-in-out forwards;   
animation: testim-scale .5s ease-in-out forwards;   
}

.testim .cont {
position: relative;
    overflow: hidden;
}

.testim .cont > div {
text-align: center;
position: absolute;
top: 0;
left: 0;
padding: 0 0 70px 0;
opacity: 0;
}

.testim .cont > div.inactive {
opacity: 1;
}


.testim .cont > div.active {
position: relative;
opacity: 1;
}


.testim .cont div .img img {
display: block;
width: 100px;
height: 100px;
margin: auto;
border-radius: 50%;
}

.testim .cont div h2 {
color: #ea830e;
font-size: 1em;
margin: 15px 0;
}

.testim .cont div p {
font-size: 1.15em;
color: #8a8a8a;
width: 80%;
margin: auto;
}

.testim .cont div.active .img img {
-webkit-animation: testim-show .5s ease-in-out forwards;            
-moz-animation: testim-show .5s ease-in-out forwards;            
-ms-animation: testim-show .5s ease-in-out forwards;            
-o-animation: testim-show .5s ease-in-out forwards;            
animation: testim-show .5s ease-in-out forwards;            
}

.testim .cont div.active h2 {
-webkit-animation: testim-content-in .4s ease-in-out forwards;    
-moz-animation: testim-content-in .4s ease-in-out forwards;    
-ms-animation: testim-content-in .4s ease-in-out forwards;    
-o-animation: testim-content-in .4s ease-in-out forwards;    
animation: testim-content-in .4s ease-in-out forwards;    
}

.testim .cont div.active p {
-webkit-animation: testim-content-in .5s ease-in-out forwards;    
-moz-animation: testim-content-in .5s ease-in-out forwards;    
-ms-animation: testim-content-in .5s ease-in-out forwards;    
-o-animation: testim-content-in .5s ease-in-out forwards;    
animation: testim-content-in .5s ease-in-out forwards;    
}

.testim .cont div.inactive .img img {
-webkit-animation: testim-hide .5s ease-in-out forwards;            
-moz-animation: testim-hide .5s ease-in-out forwards;            
-ms-animation: testim-hide .5s ease-in-out forwards;            
-o-animation: testim-hide .5s ease-in-out forwards;            
animation: testim-hide .5s ease-in-out forwards;            
}

.testim .cont div.inactive h2 {
-webkit-animation: testim-content-out .4s ease-in-out forwards;        
-moz-animation: testim-content-out .4s ease-in-out forwards;        
-ms-animation: testim-content-out .4s ease-in-out forwards;        
-o-animation: testim-content-out .4s ease-in-out forwards;        
animation: testim-content-out .4s ease-in-out forwards;        
}

.testim .cont div.inactive p {
-webkit-animation: testim-content-out .5s ease-in-out forwards;    
-moz-animation: testim-content-out .5s ease-in-out forwards;    
-ms-animation: testim-content-out .5s ease-in-out forwards;    
-o-animation: testim-content-out .5s ease-in-out forwards;    
animation: testim-content-out .5s ease-in-out forwards;    
}

@-webkit-keyframes testim-scale {
0% {
    -webkit-box-shadow: 0px 0px 0px 0px #eee;
    box-shadow: 0px 0px 0px 0px #eee;
}

35% {
    -webkit-box-shadow: 0px 0px 10px 5px #eee;        
    box-shadow: 0px 0px 10px 5px #eee;        
}

70% {
    -webkit-box-shadow: 0px 0px 10px 5px #ea830e;        
    box-shadow: 0px 0px 10px 5px #ea830e;        
}

100% {
    -webkit-box-shadow: 0px 0px 0px 0px #ea830e;        
    box-shadow: 0px 0px 0px 0px #ea830e;        
}
}

@-moz-keyframes testim-scale {
0% {
    -moz-box-shadow: 0px 0px 0px 0px #eee;
    box-shadow: 0px 0px 0px 0px #eee;
}

35% {
    -moz-box-shadow: 0px 0px 10px 5px #eee;        
    box-shadow: 0px 0px 10px 5px #eee;        
}

70% {
    -moz-box-shadow: 0px 0px 10px 5px #ea830e;        
    box-shadow: 0px 0px 10px 5px #ea830e;        
}

100% {
    -moz-box-shadow: 0px 0px 0px 0px #ea830e;        
    box-shadow: 0px 0px 0px 0px #ea830e;        
}
}

@-ms-keyframes testim-scale {
0% {
    -ms-box-shadow: 0px 0px 0px 0px #eee;
    box-shadow: 0px 0px 0px 0px #eee;
}

35% {
    -ms-box-shadow: 0px 0px 10px 5px #eee;        
    box-shadow: 0px 0px 10px 5px #eee;        
}

70% {
    -ms-box-shadow: 0px 0px 10px 5px #ea830e;        
    box-shadow: 0px 0px 10px 5px #ea830e;        
}

100% {
    -ms-box-shadow: 0px 0px 0px 0px #ea830e;        
    box-shadow: 0px 0px 0px 0px #ea830e;        
}
}

@-o-keyframes testim-scale {
0% {
    -o-box-shadow: 0px 0px 0px 0px #eee;
    box-shadow: 0px 0px 0px 0px #eee;
}

35% {
    -o-box-shadow: 0px 0px 10px 5px #eee;        
    box-shadow: 0px 0px 10px 5px #eee;        
}

70% {
    -o-box-shadow: 0px 0px 10px 5px #ea830e;        
    box-shadow: 0px 0px 10px 5px #ea830e;        
}

100% {
    -o-box-shadow: 0px 0px 0px 0px #ea830e;        
    box-shadow: 0px 0px 0px 0px #ea830e;        
}
}

@keyframes testim-scale {
0% {
    box-shadow: 0px 0px 0px 0px #eee;
}

35% {
    box-shadow: 0px 0px 10px 5px #eee;        
}

70% {
    box-shadow: 0px 0px 10px 5px #ea830e;        
}

100% {
    box-shadow: 0px 0px 0px 0px #ea830e;        
}
}

@-webkit-keyframes testim-content-in {
from {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}

to {
    opacity: 1;
    -webkit-transform: translateY(0);        
    transform: translateY(0);        
}
}

@-moz-keyframes testim-content-in {
from {
    opacity: 0;
    -moz-transform: translateY(100%);
    transform: translateY(100%);
}

to {
    opacity: 1;
    -moz-transform: translateY(0);        
    transform: translateY(0);        
}
}

@-ms-keyframes testim-content-in {
from {
    opacity: 0;
    -ms-transform: translateY(100%);
    transform: translateY(100%);
}

to {
    opacity: 1;
    -ms-transform: translateY(0);        
    transform: translateY(0);        
}
}

@-o-keyframes testim-content-in {
from {
    opacity: 0;
    -o-transform: translateY(100%);
    transform: translateY(100%);
}

to {
    opacity: 1;
    -o-transform: translateY(0);        
    transform: translateY(0);        
}
}

@keyframes testim-content-in {
from {
    opacity: 0;
    transform: translateY(100%);
}

to {
    opacity: 1;
    transform: translateY(0);        
}
}

@-webkit-keyframes testim-content-out {
from {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

to {
    opacity: 0;
    -webkit-transform: translateY(-100%);        
    transform: translateY(-100%);        
}
}

@-moz-keyframes testim-content-out {
from {
    opacity: 1;
    -moz-transform: translateY(0);
    transform: translateY(0);
}

to {
    opacity: 0;
    -moz-transform: translateY(-100%);        
    transform: translateY(-100%);        
}
}

@-ms-keyframes testim-content-out {
from {
    opacity: 1;
    -ms-transform: translateY(0);
    transform: translateY(0);
}

to {
    opacity: 0;
    -ms-transform: translateY(-100%);        
    transform: translateY(-100%);        
}
}

@-o-keyframes testim-content-out {
from {
    opacity: 1;
    -o-transform: translateY(0);
    transform: translateY(0);
}

to {
    opacity: 0;
    transform: translateY(-100%);        
    transform: translateY(-100%);        
}
}

@keyframes testim-content-out {
from {
    opacity: 1;
    transform: translateY(0);
}

to {
    opacity: 0;
    transform: translateY(-100%);        
}
}

@-webkit-keyframes testim-show {
from {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

to {
    opacity: 1;
    -webkit-transform: scale(1);       
    transform: scale(1);       
}
}

@-moz-keyframes testim-show {
from {
    opacity: 0;
    -moz-transform: scale(0);
    transform: scale(0);
}

to {
    opacity: 1;
    -moz-transform: scale(1);       
    transform: scale(1);       
}
}

@-ms-keyframes testim-show {
from {
    opacity: 0;
    -ms-transform: scale(0);
    transform: scale(0);
}

to {
    opacity: 1;
    -ms-transform: scale(1);       
    transform: scale(1);       
}
}

@-o-keyframes testim-show {
from {
    opacity: 0;
    -o-transform: scale(0);
    transform: scale(0);
}

to {
    opacity: 1;
    -o-transform: scale(1);       
    transform: scale(1);       
}
}

@keyframes testim-show {
from {
    opacity: 0;
    transform: scale(0);
}

to {
    opacity: 1;
    transform: scale(1);       
}
}

@-webkit-keyframes testim-hide {
from {
    opacity: 1;
    -webkit-transform: scale(1);       
    transform: scale(1);       
}

to {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
}

@-moz-keyframes testim-hide {
from {
    opacity: 1;
    -moz-transform: scale(1);       
    transform: scale(1);       
}

to {
    opacity: 0;
    -moz-transform: scale(0);
    transform: scale(0);
}
}

@-ms-keyframes testim-hide {
from {
    opacity: 1;
    -ms-transform: scale(1);       
    transform: scale(1);       
}

to {
    opacity: 0;
    -ms-transform: scale(0);
    transform: scale(0);
}
}

@-o-keyframes testim-hide {
from {
    opacity: 1;
    -o-transform: scale(1);       
    transform: scale(1);       
}

to {
    opacity: 0;
    -o-transform: scale(0);
    transform: scale(0);
}
}

@keyframes testim-hide {
from {
    opacity: 1;
    transform: scale(1);       
}

to {
    opacity: 0;
    transform: scale(0);
}
}

@media all and (max-width: 300px) {
body {
    font-size: 14px;
}
}

@media all and (max-width: 500px) {
.testim .arrow {
    font-size: 1.5em;
}

.testim .cont div p {
    line-height: 25px;
}
}
.depoimentotitulo{
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 0px;
    color: #bd545b;
    padding-top: 0px;
    font-family: "BentonSansMedium";
    text-align: center;
}
*================================================
Appointment Area CSS
=================================================*/
.appointment-area {
    position: relative;
    z-index: 1;
    background: {
        image: url(../../assets/img/appointment-bg.jpg);
        position: center center;
        size: cover;
        repeat: no-repeat;
    }
}
.appointment-content {
    background-color: $white-color;
    padding: 50px;
    position: relative;
    z-index: 1;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
    max-width: 700px;
    margin: {
        left: auto;
        right: 100px;
    }
    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        background: $white-color;
        width: 96%;
        opacity: .62;
        height: 50%;
        bottom: -20px;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 3px;
    }
    .sub-title {
        display: block;
        margin-bottom: 5px;
        color: $main-color;
        font: {
            size: 17px;
            family: $optional-font-family;
        }
    }
    h2 {
        margin-bottom: 0;
        max-width: 520px;
        line-height: 1.3;
        font: {
            size: 40px;
            weight: 600;
        }
    }
    form {
        margin-top: 5px;

        .form-group {
            position: relative;
            padding-left: 55px;
            margin: {
                bottom: 0;
                top: 30px;
            }
            .icon {
                position: absolute;
                left: 0;
                top: 0;
                color: $main-color;
                font-size: 35px;
            }
            label {
                display: block;
                text-transform: uppercase;
                color: $paragraph-color;
                margin-bottom: 8px;
                font: {
                    size: 13px;
                    weight: 500;
                }
            }
            .form-control {
                border: none;
                height: auto;
                border-bottom: 1px solid #eeeeee;
                font: {
                    size: 17px;
                    weight: 600;
                }
                padding: {
                    left: 0;
                    right: 0;
                    bottom: 8px;
                }
                &::placeholder {
                    color: $black-color;
                }
                &:focus {
                    border-color: $main-color;
                    padding-left: 2px;
                }
            }
            .nice-select {
                background-color: transparent;
                color: $black-color;
                border-radius: 0;
                border: none;
                border-bottom: 1px solid #eeeeee;
                height: unset;
                line-height: initial;
                padding: 0 35px 8px 0;
                font: {
                    size: 17px;
                    weight: 600;
                }
                .list {
                    background-color: $white-color;
                    box-shadow: 0 0 29px 0 rgba(102, 102, 102, 0.1);
                    border-radius: 0;
                    margin-top: 0;
                    width: 100%;
                    height: 260px;
                    overflow-y: scroll;
                    padding: {
                        top: 10px;
                        bottom: 10px;
                    }
                    .option {
                        transition: $transition;
                        font: {
                            size: 15px;
                        }
                        padding: {
                            left: 20px;
                            right: 20px;
                        }
                        &:hover {
                            background-color: $main-color !important;
                            color: $white-color;
                        }
                        &.selected {
                            background-color: transparent;
                        }
                    }
                }
                &:after {
                    right: 0;
                    border-color: $black-color;
                }
            }
        }
        .submit-btn {
            text-align: center;
            margin-top: 35px;
        }
    }
}


/*================================================
Appointment Area CSS
=================================================*/
.appointment-area {
    position: relative;
    z-index: 1;
    background-image: url(../../assets/img/appointment-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .appointment-content {
    background-color: #ffffff;
    padding: 50px;
    position: relative;
    z-index: 1;
    -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
            box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
    /* max-width: 700px; */
    /* margin-left: auto; */
    /* margin-right: 100px; */
    margin: auto;
    /* margin-top: 89px; */
    margin-top: 31px;
    margin-bottom: 31px;
  }
  
  .appointment-content::before {
    content: '';
    position: absolute;
    z-index: -1;
    background: #ffffff;
    width: 96%;
    opacity: .62;
    height: 50%;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 3px;
  }
  
  .appointment-content .sub-title {
    display: block;
    margin-bottom: 5px;
    color: #19ce67;
    font-size: 17px;
    font-family: "Rubik", sans-serif;
  }
  
  .appointment-content h2 {
    margin-bottom: 0;
    max-width: 520px;
    line-height: 1.3;
    font-size: 40px;
    font-weight: 600;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 0px;
    color: #bd545b;
    padding-top: 0px;
    font-family: "BentonSansMedium";
}
  
  .appointment-content form {
    margin-top: 5px;
  }
  
  .appointment-content form .form-group {
    position: relative;
    padding-left: 55px;
    margin-bottom: 0;
    margin-top: 30px;
  }
  
  .appointment-content form .form-group .icon {
    position: absolute;
    left: 0;
    top: 0;
    color: #ff7965;
    font-size: 35px;
  }
  
  .appointment-content form .form-group label {
    display: block;
    text-transform: uppercase;
    color: #7d7d7d;
    margin-bottom: 8px;
    font-size: 13px;
    font-weight: 500;
  }
  
  .appointment-content form .form-group .form-control {
    border: none;
    height: auto;
    border-bottom: 1px solid #eeeeee;
    font-size: 17px;
    font-weight: 600;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 8px;
    background: #fff;
  }
  
  .appointment-content form .form-group .form-control::-webkit-input-placeholder {
    color: #121521;
  }
  
  .appointment-content form .form-group .form-control:-ms-input-placeholder {
    color: #121521;
  }
  
  .appointment-content form .form-group .form-control::-ms-input-placeholder {
    color: #121521;
  }
  
  .appointment-content form .form-group .form-control::placeholder {
    color: #121521;
  }
  
  .appointment-content form .form-group .form-control:focus {
    border-color: #ff7965;
    padding-left: 2px;
    box-shadow: 0 0 0px black;
  }
  
  .appointment-content form .form-group .nice-select {
    background-color: transparent;
    color: #121521;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #eeeeee;
    height: unset;
    line-height: initial;
    padding: 18px 35px 8px 0;
    font-size: 17px;
    font-weight: 600;
  }
  .appointment-content form .form-group .nice-select:hover{
    box-shadow:none;

  }
  
  .appointment-content form .form-group .nice-select .list {
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 29px 0 rgba(102, 102, 102, 0.1);
    box-shadow: 0 0 29px 0 rgba(102, 102, 102, 0.1);
    border-radius: 0;
    margin-top: 0;
    width: 100%;
    height: auto;
    overflow-y: scroll;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
  }
  
  .appointment-content form .form-group .nice-select .list .option {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .appointment-content form .form-group .nice-select .list .option:hover {
    background-color: #ff8472 !important;
    color: #ffffff;
  }
  
  .appointment-content form .form-group .nice-select .list .option.selected {
    background-color: transparent;
  }
  
  .appointment-content form .form-group .nice-select:after {
    right: 0;
    border-color: #121521;
  }
  
  .appointment-content form .submit-btn {
    text-align: center;
    margin-top: 35px;
  }
  .btn-agender{
    background-color: #ff7965;
    border: 0px;
    border-radius: 50px;
    width: 24%;
    color:#fff;
  }
  button.btn-agendar-atendimento {
    position: absolute;
    top: 498px;
    color: white;
    font-size: 17px;
    font-weight: 100;
    width: 17%;
    padding: 12px;
    border: 1px solid #ffffff;
    background-color: #ff796500;
    border-radius: 38px;
    cursor: pointer;
    left: 390px;
  }
  @media(max-width:2560px) and (min-width:1440px) {
    button.btn-agendar-atendimento {
        position: absolute;
        top: 595px;
        color: white;
        font-size: 17px;
        font-weight: 100;
        width: 17%;
        padding: 12px;
        border: 1px solid #ffffff;
        background-color: #ff796500;
        border-radius: 38px;
        cursor: pointer;
        left: 839px;
    }
    .hr-video {
        background-color: #ff7965;
        position: relative;
        top: -351px;
        width: 80%;
        height: 1px;
        border: 0px;
    }
    .titulo-video {
        position: absolute;
        top: 176px;
        color: white;
        font-size: 4.1em;
        font-weight: 200;
        width: 60%;
        line-height: 57px;
        font-size: 62px;
        margin-top: 110px;
    }
    .ul-video {
        position: absolute;
        top: 439px;
        color: white;
        font-size: 23px;
        font-weight: 100;
        width: 100%;
        list-style: none;
    }
    .btn-agendar-video {
        position: absolute;
        top: 595px;
        color: white;
        font-size: 17px;
        font-weight: 100;
        width: 17%;
        padding: 12px;
        border: 1px solid #ff7965;
        background-color: #ff7965;
        border-radius: 38px;
        cursor: pointer;
    }
}
.btn-news{
    background-color: #ffffff00;
    border: 0px;
    position: relative;
    left: -41px;
}
.btn-news svg{
    color:#fff;
}
.inputemail::placeholder{
    color:#fff !important;
}
.footer-bullet-list{
    list-style: none;
}
#wrap {
    position: relative;
    display: inline-block;
    height: 70px;
    font-family: "Lato";
    width: calc(100% - 400px);
    max-width: 750px;
    min-width: 350px;
  }
  #wrap:after {
    content: '';
    position: absolute;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/383755/running.png");
    background-position: 0px 50%;
    -webkit-animation: runner 0.5s steps(32, end) infinite;
            animation: runner 0.5s steps(32, end) infinite;
    opacity: 0;
  }
  #wrap.plunge {
    pointer-events: none;
  }
  #wrap.plunge input[type="email"] {
    color: transparent;
  }
  #wrap.plunge .btnwrap .spark {
    -webkit-animation: spark 0.3s ease-in-out 1 forwards;
            animation: spark 0.3s ease-in-out 1 forwards;
  }
  @-webkit-keyframes spark {
    0% {
      -webkit-transform: rotate(45deg) scale(0);
              transform: rotate(45deg) scale(0);
    }
    50% {
      -webkit-transform: rotate(135deg) scale(1);
              transform: rotate(135deg) scale(1);
    }
    100% {
      -webkit-transform: rotate(45deg) scale(0);
              transform: rotate(45deg) scale(0);
    }
  }
  @keyframes spark {
    0% {
      -webkit-transform: rotate(45deg) scale(0);
              transform: rotate(45deg) scale(0);
    }
    50% {
      -webkit-transform: rotate(135deg) scale(1);
              transform: rotate(135deg) scale(1);
    }
    100% {
      -webkit-transform: rotate(45deg) scale(0);
              transform: rotate(45deg) scale(0);
    }
  }
  #wrap.plunge .btnwrap .spark:nth-of-type(1) {
    -webkit-animation-delay: 2.1s;
            animation-delay: 2.1s;
  }
  #wrap.plunge .btnwrap .spark:nth-of-type(2) {
    -webkit-animation-delay: 2.2s;
            animation-delay: 2.2s;
  }
  #wrap.plunge .btnwrap .spark:nth-of-type(3) {
    -webkit-animation-delay: 2.3s;
            animation-delay: 2.3s;
  }
  #wrap.plunge .btnwrap .spark:nth-of-type(4) {
    -webkit-animation-delay: 2.4s;
            animation-delay: 2.4s;
  }
#wrap.plunge .btnwrap .spark:nth-of-type(5) {
    -webkit-animation-delay: 2.5s;
            animation-delay: 2.5s;
  }
#wrap.plunge .btnwrap .spark:nth-of-type(6) {
    -webkit-animation-delay: 2.6s;
            animation-delay: 2.6s;
  }
    #wrap.plunge .btnwrap .blob {
    left: 20px;
    -webkit-animation: puff 0.5s ease-in-out 1 forwards;
            animation: puff 0.5s ease-in-out 1 forwards;
    -webkit-animation-delay: 1.65s;
            animation-delay: 1.65s;
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  @-webkit-keyframes puff {
    0% {
      left: 20px;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      left: calc(100% - 50px);
      -webkit-transform: scale(1.15);
              transform: scale(1.15);
    }
    100% {
      left: calc(100% - 50px);
      -webkit-transform: scale(0);
              transform: scale(0);
    }
  }
  @keyframes puff {
    0% {
      left: 20px;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      left: calc(100% - 50px);
      -webkit-transform: scale(1.15);
              transform: scale(1.15);
    }
    100% {
      left: calc(100% - 50px);
      -webkit-transform: scale(0);
              transform: scale(0);
    }
  }
    #wrap.plunge .btnwrap b:after {
    -webkit-animation: openclose 2.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1 forwards;
            animation: openclose 2.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1 forwards;
  }
  @-webkit-keyframes openclose {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    10% {
      -webkit-transform: rotate(120deg);
              transform: rotate(120deg);
    }
    75% {
      -webkit-transform: rotate(120deg);
              transform: rotate(120deg);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    80% {
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  }
  @keyframes openclose {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    10% {
      -webkit-transform: rotate(120deg);
              transform: rotate(120deg);
    }
    75% {
      -webkit-transform: rotate(120deg);
              transform: rotate(120deg);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    80% {
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  }
    #wrap.plunge .field {
    overflow: hidden;
    z-index: 999;
  }
    #wrap.plunge .field p .word .char {
    z-index: 2;
    -webkit-animation: run 2s ease-in 1 forwards;
            animation: run 2s ease-in 1 forwards;
    -webkit-animation-delay: 0.25s;
            animation-delay: 0.25s;
    will-change: transform;
  }
  @-webkit-keyframes run {
    to {
      -webkit-transform: translateX(2000px);
              transform: translateX(2000px);
    }
  }
  @keyframes run {
    to {
      -webkit-transform: translateX(2000px);
              transform: translateX(2000px);
    }
  }
    #wrap.plunge .field p .word .char:nth-of-type(2n) {
    -webkit-animation-duration: 2.25s;
            animation-duration: 2.25s;
  }
    #wrap.plunge .field p .word .char:nth-of-type(3n) {
    -webkit-animation-duration: 2.5s;
            animation-duration: 2.5s;
  }
    #wrap.plunge .field p .word .char:nth-of-type(4n) {
    -webkit-animation-duration: 2.15s;
            animation-duration: 2.15s;
  }
    #wrap.plunge .field p .word .char:nth-of-type(5n) {
    -webkit-animation-duration: 1.9s;
            animation-duration: 1.9s;
  }
    #wrap.plunge .field p .word .char:after {
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
    z-index: -1;
  }
    #wrap .field {
    position: absolute;
    height: 70px;
    width: calc(100% - 180px);
    top: 0px;
    left: 50px;
    z-index: 9;
    pointer-events: none;
    font-size: 20px;
    font-family: "Lato";
    line-height: 1.5;
  }
    #wrap .field p {
    font-family: "Lato";
    position: relative;
    display: inline-block;
  }
    #wrap .field p .word .char {
    display: inline-block;
    z-index: 2;
    position: relative;
    font-family: "Lato";
    color: transparent;
    font-weight: 900;
  }
    #wrap .field p .word .char:nth-of-type(2n):after,   #wrap .field p .word .char:nth-of-type(2n):before {
    -webkit-animation-delay: -0.35s;
            animation-delay: -0.35s;
  }
    #wrap .field p .word .char:nth-of-type(2n):after,   #wrap .field p .word .char:nth-of-type(2n):before {
    -webkit-animation-delay: -0.15s;
            animation-delay: -0.15s;
  }
    #wrap .field p .word .char:nth-of-type(3n):after,   #wrap .field p .word .char:nth-of-type(3n):before {
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s;
  }
    #wrap .field p .word .char:nth-of-type(4n) {
    -webkit-animation-duration: 1.75s;
            animation-duration: 1.75s;
  }
    #wrap .field p .word .char:nth-of-type(4n):after,   #wrap .field p .word .char:nth-of-type(4n):before {
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s;
  }
    #wrap .field p .word .char:nth-of-type(1) {
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
  }
    #wrap .field p .word .char:nth-of-type(1):after,   #wrap .field p .word .char:nth-of-type(1):before {
    -webkit-animation-delay: -0.15s;
            animation-delay: -0.15s;
  }
    #wrap .field p .word .char:before {
    content: attr(data-char);
    color: #000;
    display: inline-block;
    font-weight: 900;
    position: absolute;
    z-index: 2;
    -webkit-animation: bounce 0.25s ease-in-out infinite alternate;
            animation: bounce 0.25s ease-in-out infinite alternate;
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
  @-webkit-keyframes bounce {
    from {
      -webkit-transform: rotate(-13deg) skewX(-10deg);
              transform: rotate(-13deg) skewX(-10deg);
    }
    to {
      -webkit-transform: rotate(5deg) skewX(-15deg);
              transform: rotate(5deg) skewX(-15deg);
    }
  }
  @keyframes bounce {
    from {
      -webkit-transform: rotate(-13deg) skewX(-10deg);
              transform: rotate(-13deg) skewX(-10deg);
    }
    to {
      -webkit-transform: rotate(5deg) skewX(-15deg);
              transform: rotate(5deg) skewX(-15deg);
    }
  }
    #wrap .field p .word .char:after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 40px;
    height: 40px;
    bottom: -13px;
    left: calc(50% - 20px);
    -webkit-transform-origin: top;
            transform-origin: top;
    width: 40px;
    height: 26px;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/383755/running.png");
    background-position: 0px 50%;
    -webkit-animation: runner 0.75s steps(32, end) infinite;
            animation: runner 0.75s steps(32, end) infinite;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  @-webkit-keyframes runner {
    from {
      background-position: 0px 50%;
    }
    to {
      background-position: -1280px 50%;
    }
  }
  @keyframes runner {
    from {
      background-position: 0px 50%;
    }
    to {
      background-position: -1280px 50%;
    }
  }
    #wrap form {
    position: relative;
    height: 70px;
    width: 100%;
    display: inline-block;
    z-index: 2;
  }
    #wrap form input[type="email"] {
    max-height: 70px;
    height: 70px;
    width: calc(100% - 50px);
    padding: 0 0 0 50px;
    border-radius: 80px 0 0 80px;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: "Lato";
    font-size: 20px;
    font-weight: 900;
  }
    #wrap form input[type="email"]::-webkit-input-placeholder {
    color: #ccc;
    font-weight: 100;
  }
    #wrap form input[type="email"]::-moz-placeholder {
    color: #ccc;
    font-weight: 100;
  }
    #wrap form input[type="email"]:-ms-input-placeholder {
    color: #ccc;
    font-weight: 100;
  }
    #wrap form input[type="email"]::-ms-input-placeholder {
    color: #ccc;
    font-weight: 100;
  }
    #wrap form input[type="email"]::placeholder {
    color: #ccc;
    font-weight: 100;
  }
  #wrap form .btnwrap {
    display: inline-block;
    width: auto;
    height: auto;
    position: absolute;
    right: 0;
    top: 0;
  }
#wrap form .btnwrap .spark {
    position: absolute;
    width: 15px;
    height: 3px;
    background: -webkit-gradient(linear, left top, right top, from(var(--pink)), color-stop(var(--orange)), to(var(--pink)));
    background: linear-gradient(to right, var(--pink), var(--orange), var(--pink));
    top: -25px;
    border-radius: 100px;
    right: 10px;
    -webkit-transform: rotate(45deg) scale(0);
            transform: rotate(45deg) scale(0);
  }
#wrap form .btnwrap .spark:nth-of-type(4) {
    right: -50px;
    top: 0;
  }
#wrap form .btnwrap .spark:nth-of-type(3) {
    right: -50px;
    top: 30px;
  }
#wrap form .btnwrap .spark:nth-of-type(2) {
    right: -10px;
    top: 105px;
  }
  #wrap form .btnwrap .spark:nth-of-type(5) {
    right: 20px;
    top: 120px;
  }
  #wrap form .btnwrap .spark:nth-of-type(6) {
    right: -20px;
    top: -15px;
  }
  #wrap form .btnwrap .spark:before {
    content: '';
    position: absolute;
    width: 3px;
    height: 15px;
    background: -webkit-gradient(linear, left top, left bottom, from(var(--pink)), color-stop(var(--orange)), to(var(--pink)));
    background: linear-gradient(to bottom, var(--pink), var(--orange), var(--pink));
    top: calc(50% - 7.5px);
    left: calc(50% - 1.5px);
    border-radius: inherit;
  }
#wrap form .btnwrap .blob {
    position: absolute;
    height: 70px;
    width: 70px;
    background: -webkit-gradient(linear, left top, left bottom, from(var(--orange)), color-stop(30%, var(--orange)), color-stop(70%, var(--pink)));
    background: linear-gradient(to bottom, var(--orange), var(--orange) 30%, var(--pink) 70%);
    z-index: -1;
    border-radius: 100%;
    left: 20px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  #wrap form .btnwrap b {
    position: absolute;
    color: #fff;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    font-family: "Lato";
    letter-spacing: 1px;
    z-index: 2;
    font-size: 20px;
    pointer-events: none;
  }
#wrap form .btnwrap b:before {
    content: '';
    position: absolute;
    width: calc(100% + 20px);
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(var(--orange)), to(var(--pink)));
    background: linear-gradient(to bottom, var(--orange), var(--pink));
    z-index: -1;
    left: 0;
    border-radius: 0 80px 80px 0;
  }
#wrap form .btnwrap b:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 100%;
    left: -20px;
    background: -webkit-gradient(linear, left top, left bottom, from(var(--orange)), to(var(--pink)));
    background: linear-gradient(to bottom, var(--orange), var(--pink));
    border-radius: 0px 0 0 0px;
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition-delay: 1s;
            transition-delay: 1s;
    top: 0;
  }
#wrap form input[type="submit"] {
    height: 70px;
    border-radius: 80px;
    padding: 0 30px;
    border: none;
    opacity: 0;
  }
  